<div v-if="workspace">
	<h1>Workspace</h1>

	<div class="box center max-width-medium">
		<div>{{workspace.name}}</div>
		<div class="text-smaller">
			<span class="tag">Created: {{formattedCreationDate}}</span>
			<span class="tag">Size: {{Math.ceil(workspace.workspaceSize / 1024 / 1024)}} MiB</span>
			<a class="tag" :href="getDownloadUrl(workspace.id)">Download</a>
			<a class="tag" @click="removeWorkspace(workspace)">Remove</a>
		</div>
	</div>

	<h3>Files</h3>
	<div class="box center max-width-medium" v-if="workspace.WorkspaceFileAssociation.length > 0">
		<ul class="text-smaller">
			<li class="workspace-file-list-item" v-for="file in workspace.WorkspaceFileAssociation">
				<span class="code">{{file.path}}</span>
			</li>
		</ul>
	</div>

	<div class="box center max-width-medium" v-else>
		<div class="text-center"><em>No files</em></div>
	</div>
</div>
