button,
.button,
.mini-button {
	background: #EFEFEF;
	border: none;
	border-radius: 0.3rem;
	box-shadow: 0 -3px 0 -1px rgba(0, 0, 0, 0.15) inset;
	color: #606060;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	outline: none;
	text-decoration: none;
	text-rendering: geometricPrecision;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: box-shadow;
	        transition-property: box-shadow;
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}

button,
.button {
	min-width: 8.5rem;
	padding: 0.5rem 1rem;
}

button:active,
.button:active {
	padding-bottom: 0.4rem;
	padding-top: 0.6rem;
}

.mini-button {
	font-size: 1.5rem;
	padding: 0.7rem 1.2rem;
}

.mini-button:active {
	padding-bottom: 0.6rem;
	padding-top: 0.8rem;
}

button:focus,
.button:focus,
.mini-button:focus {
	box-shadow: 0 -3px 0 -1px #50B6FE inset, 0 1px 2px -1px rgba(81, 167, 232, 0.5);
	outline: none;
}

button:hover,
.button:hover,
.mini-button:hover {
	background: #E9E9E9;
	text-decoration: none;
}

button:active,
.button:active,
.mini-button:active {
	background: #DCDCDC;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
}

button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
.mini-button:disabled,
.mini-button.disabled,
select:disabled {
	background-color: rgba(229, 229, 229, 0.5);
	color: rgba(102, 102, 102, 0.5);
	cursor: default;
}

button.danger,
.button.danger,
.mini-button.danger {
	background: #EF7173;
	color: #FFF;
}

button.danger:hover,
.button.danger:hover,
.mini-button.danger:hover {
	background: #F06060;
}

button.danger:active,
.button.danger:active,
.mini-button.danger:active {
	background: #D65656;
}

button.primary,
.button.primary,
.mini-button.primary {
	background: #7ECB61; /* BA89A7 98BA94 5094BA 4CA5BA 3C92BA 04ACBA */
	color: #FFF;
}

button.primary:hover,
.button.primary:hover,
.mini-button.primary:hover {
	background: #85CF69;
}

button.primary:active,
.button.primary:active,
.mini-button.primary:active {
	background: #569E3D;
}

button.primary:disabled {
	background-color: rgba(229, 229, 229, 0.5);
	color: rgba(102, 102, 102, 0.5);
	cursor: default;
}

button.danger:focus,
button.primary:focus,
.button.danger:focus,
.button.primary:focus,
.mini-button.danger:focus,
.mini-button.primary:focus {
	box-shadow: 0 -3px 0 -1px rgba(0, 0, 0, 0.3) inset;
}

/* Remove button padding in Firefox */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	color: #282828;
	text-rendering: geometricPrecision;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 0.5rem 0 0;
}

	input[type="checkbox"] ~ label,
	input[type="radio"] ~ label {
		margin-right: 1.5rem;
	}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea {
	background-color: #FFF;
	border: 1px solid #CCCDC8;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	line-height: inherit;
	margin: 0;
	outline: none;
	padding: 0.6rem 0.7rem;
	width: 100%;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: border-color, box-shadow;
	        transition-property: border-color, box-shadow;
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}

	label ~ input[type="email"],
	label ~ input[type="number"],
	label ~ input[type="password"],
	label ~ input[type="search"],
	label ~ input[type="text"],
	label ~ textarea {
		margin-top: 0.2rem;
	}

	.box input[type="email"],
	.box input[type="number"],
	.box input[type="password"],
	.box input[type="search"],
	.box input[type="text"],
	.box textarea {
		background-color: #F9F9F9;
		border-color: rgba(0, 0, 0, 0.125);
	}

:-moz-ui-invalid:not(output) {
	border-color: #F07171 !important;
	box-shadow: 0 0 3px -1px #F07171;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
textarea:focus {
	border-color: #50B6FE;
	box-shadow: 0 0 3px -1px rgba(81, 167, 232, 0.5);
}

input[type="email"].error,
input[type="email"].error:focus,
input[type="number"].error,
input[type="number"].error:focus,
input[type="password"].error,
input[type="password"].error:focus,
input[type="search"].error,
input[type="search"].error:focus,
input[type="text"].error,
input[type="text"].error:focus,
textarea.error,
textarea.error:focus {
	border-color: #F07171;
	box-shadow: 0 0 3px -1px #F07171;
}

input[type="email"].short,
input[type="number"].short,
input[type="password"].short,
input[type="search"].short,
input[type="text"].short {
	max-width: 300px;
}

input[type="email"].shorter,
input[type="number"].shorter,
input[type="password"].shorter,
input[type="search"].shorter,
input[type="text"].shorter {
	max-width: 150px;
}

input[type="number"] {
	text-align: right;
}

input[type="search"] {
	padding-right: 25px; /* @alternate */
	padding-right: 2.5rem;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-cancel-button {
	/* Image is search-cancel-button.svg */
	background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNDOEM4QzgiPjxwYXRoIGQ9Ik0xMCwwIEM0LjUsMCAwLDQuNSAwLDEwIEMwLDE1LjUgNC41LDIwIDEwLDIwIEMxNS41LDIwIDIwLDE1LjUgMjAsMTAgQzIwLDQuNSAxNS41LDAgMTAsMCBMMTAsMCBaIE0xNSwxMy42IEwxMy42LDE1IEwxMCwxMS40IEw2LjQsMTUgTDUsMTMuNiBMOC42LDEwIEw1LDYuNCBMNi40LDUgTDEwLDguNiBMMTMuNiw1IEwxNSw2LjQgTDExLjQsMTAgTDE1LDEzLjYgTDE1LDEzLjYgWiIvPjwvZz48L3N2Zz4=");
	background-origin: padding-box;
	background-position: 99% center; /* @alternate */
	background-position: -webkit-calc(100% - 1rem) center; /* @alternate */
	background-position:    -moz-calc(100% - 1rem) center; /* @alternate */
	background-position:         calc(100% - 1rem) center;
	background-repeat: no-repeat;
	background-size: 14px; /* @alternate */
	background-size: 1.4rem;
}

.search-cancel-button-cursor {
	cursor: default;
}

label {
	display: inline-block;
	font-size: inherit;
}

	/* Hide browser-styled upload button */
	label input[type="file"] {
		margin: 0;
		position: fixed;
		top: -1000px;
	}

label.mini-button {
	margin: 0;
}

textarea {
	min-height: 200px; /* @alternate */
	min-height: 20rem;
	resize: vertical;
	text-rendering: geometricPrecision;
}

select {
	background-color: #EFEFEF;
	/* Image is arrow-drop-down.svg */
	background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEwIDciIHdpZHRoPSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjQUNBQ0FDIj48cGF0aCBkPSJNMCwwIEw1LDUgTDEwLDAgTDAsMCBaIj48L3BhdGg+PC9nPjwvc3ZnPg==");
	background-origin: padding-box;
	background-position: 99% center; /* @alternate */
	background-position: -webkit-calc(100% - 1rem) center; /* @alternate */
	background-position:    -moz-calc(100% - 1rem) center; /* @alternate */
	background-position:         calc(100% - 1rem) center;
	background-repeat: no-repeat;
	background-size: 10px 7px; /* @alternate */
	background-size: 1rem 0.7rem;
	border: none;
	border-radius: 0.3rem;
	box-shadow: 0 -3px 0 -1px rgba(0, 0, 0, 0.15) inset;
	color: #606060;
	margin: 0 0 10px 0; /* @alternate */
	margin: 0 0 1rem 0;
	outline: none;
	padding: 8px 25px 8px 10px; /* @alternate */
	padding: 0.8rem 2.5rem 0.8rem 1rem;
	text-rendering: geometricPrecision;
	word-wrap: break-word;

	-webkit-appearance: none;
	   -moz-appearance: none;

	-webkit-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: background-color, box-shadow, color;
	        transition-property: background-color, box-shadow, color;
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}

select:disabled {
	/* Image is arrow-drop-down.svg */
	background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEwIDciIHdpZHRoPSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRDBEMEQwIj48cGF0aCBkPSJNMCwwIEw1LDUgTDEwLDAgTDAsMCBaIj48L3BhdGg+PC9nPjwvc3ZnPg==");
}

select:focus {
	box-shadow: 0 -3px 0 -1px #50B6FE inset, 0 1px 2px -1px rgba(81, 167, 232, 0.5);
}

select.error,
select.error.focus {
	box-shadow: 0 -3px 0 -1px #F07171 inset, 0 1px 2px -1px rgba(240, 113, 113, 0.5);
}

.validation-error {
	background: #F07171; /* F07171 DC596A F26274 */
	border-radius: 0.3rem;
	color: #FFF;
	display: inline-block;
	margin:  0.5rem 0 0;
	padding: 0.5rem 1rem;

	/* Works only in Chrome. */
	word-break: break-word;
}

fieldset {
	border: none;
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 1rem;
}

legend {
	font-size: 17px; /* @alternate */
	font-size: 1.7rem;
}
