#jobs-server-load {
	color: rgba(0, 0, 0, 0.25);
	cursor: default;
	font-size: smaller;
	margin: 2rem;
	text-align: center
}

	#jobs-server-load-bar {
		background: rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		height: 0.7rem;
		margin: 0.3rem auto;
		overflow: hidden;
		width: 20rem;
	}

		#jobs-server-load-value {
			background: rgb(240, 231, 118);
			height: 100%;

			-webkit-transition-duration: 0.5s;
			        transition-duration: 0.5s;
			-webkit-transition-property: width;
			        transition-property: width;
			-webkit-transition-timing-function: ease-out;
			        transition-timing-function: ease-out;
		}
